html {
	box-sizing: border-box;
}

*, *:before, *:after{
	box-sizing: inherit;
}

html{
	position:relative;
	min-height:100%;
}

div{ 
    display: block;
}

footer{
	position: absolute;
	left:0;
	bottom:0;
	height:30px;
	width:100%;
	background-color:silver;
	text-align:center;
	padding:5px;
}

section, header, nav{
	padding-left:25px;
	padding-top:25px;
}

nav ul{
	list-style-type:none;
	margin:0;
	padding:0;
}

nav ul li{
	display:inline;
	background-color:#ccc;
	padding:5px;
	margin-right:5px;
}

label{
	margin-top:10px;
	margin-bottom:0;
	display:block;
}

.checkboxLabel, .radioLabel{
	display:inline;
}

input[type=text],input[type=password],select{
	width:300px;
	font-size:20px;
}
ul.errors{
	color:red;
	margin:0;
	margin-top:5px;
	padding:0;
	list-style-type:none;
}

.flash_message{
	width:100%;
	text-align:center;
	padding:5px;
	position:fixed;
	top:0;
	left:0;
	background-color:yellow;
	font-weight:bold;
}